<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>ユーザー情報確認</title>
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<!-- パンくずリスト -->
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                             <ol class="breadcrumb mb-0">                        
                                 <li class="breadcrumb-item"><a th:href="@{/user}">マイページ</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">ユーザー情報確認</li>
                             </ol>
                        </nav>
                        
                        <div th:if="${successMessage}" class="alert alert-info">
                            <span th:text="${successMessage}"></span>
                        </div>
                        
                        <!-- 編集リンクを右端に寄せるためのflexコンテナ -->
                        <div class="d-flex justify-content-end align-items-end mb-3">
							<div>
								<a th:href="@{/user/edit}">編集</a>
							</div>
						</div>
                                                
						<!-- 画像の表示場所 -->
						<div class="mb-3">
							<img th:if="${user.getImageName()}" th:src="@{/storage/user/icons/__${user.getImageName()}__}" class="w-100" alt="アイコン画像">
							<img th:unless="${user.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
						</div>
						
						<div class="container mb-4">
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-4">
                                    <span class="fw-bold">ユーザーID</span>          
                                </div>                                                  
                                <div class="col">
                                    <span th:text="${user.getId()}"></span>
                                </div>
                            </div>
                            
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-4">
                                    <span class="fw-bold">ユーザー名</span>          
                                </div>                                                  
                                <div class="col">
                                    <span th:text="${user.getName()}"></span>
                                </div>
                            </div>
                            
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-4">
                                    <span class="fw-bold">メールアドレス</span>          
                                </div>                                                  
                                <div class="col">
                                    <span th:text="${user.getEmail()}"></span>
                                </div>
                            </div>
                            
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-4">
                                    <span class="fw-bold">性別</span>          
                                </div>                                                  
                                <div class="col">
                                    <span th:text="${user.getGender()}"></span>
                                </div>
                            </div>
                            
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-4">
                                    <span class="fw-bold">生年月日</span>          
                                </div>                                                  
                                <div class="col">
                                    <span th:text="${#dates.format(user.getBirthday(), 'yyyy/MM/dd')}"></span>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>