<!DOCTYPE html>
<html xmlns:th=”https://www.thymeleaf.org”>
	<head>
		<!-- meta要素の部品化 -->
        <div th:fragment="meta" th:remove="tag">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </div>                        
         
        <!-- link要素の部品化 -->
        <div th:fragment="styles" th:remove="tag">
            <!-- Bootstrap -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
             
            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
            
            <!-- css -->
            <link th:href="@{/css/style.css}" rel="stylesheet" >
        </div>   
         
        <title>部品化用のHTMLファイル</title>
	</head>
	<body>
        <!-- ヘッダーの部品化 -->
        <div th:fragment="nav-bar" th:remove="tag">
            <nav class="navbar navbar-expand-md movemates-navbar">
                 <div class="container">
					 <div>
                         <img class="movemates-logo me-1" th:src="@{/images/logo.png}" alt="MoveMates">                        
					 </div>
					 <div>
						 <a th:href="@{/login}" class="me-3">ログイン</a>
						 <a th:href="@{/signup}">会員登録</a>                                                     
					 </div>
                 </div>
             </nav>
        </div>
        
        <!-- ナビゲーションバーの部品化 -->
        <div th:fragment="header" th:remove="tag">
	        <header>
				<div class="mm-head-div1">
					<div class="mm-head-div2">
						<div class="mm-head-div3">
							<!-- headerの上部要素 -->
							<div>
								<!-- ロゴ -->
								<div class="mm-demo-div4">
									<h1 role="heading" class="mm-demo-h1">
										<a th:href="@{/user}" class="mm-demo-a">
											<img th:src="@{/images/movemates-logo-sm.png}">
										</a>
									</h1>
								</div>
								<!-- ナビ -->
								<div>
									<nav>
										<!-- ホーム -->
										<a th:href="@{/user}" class="nav-icon-center">
											<img th:src="@{/images/home.svg}" class="nav-img"></img>
										</a>
										<!-- 検索 -->
										<a th:href="@{/exercises}" class="nav-icon-center">
											<img th:src="@{/images/search.svg}" class="w-75"></img>
										</a>
										<!-- マイメニュー -->
										<a th:href="@{/mymenu}" class="nav-icon-center">
											<img th:src="@{/images/mymenu.svg}"></img>
										</a>
									</nav>
								</div>
							</div>
							<!-- headerの下部要素 -->
							<!-- アイコン -->
							<div>
								<div class="user-info">
		    					<a th:href="@{/user/show}" class="nav-icon-center">
									<img th:src="@{/storage/user/icons/__${user?.getImageName()}__}" class="icon-img">
								</a>
		    				</div>
		    				<!-- 会社概要 -->
		    				<div></div>
						</div>
					</div>
				</div>
				</div>
			</header>
        </div>
        
        <!-- フッターの部品化 -->
        <div th:fragment="footer" th:remove="tag">
            <footer>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-center small mb-0">&copy; MoveMates All rights reserved.</p>      
                </div>                 
            </footer>
        </div>
     
        <!-- script要素の部品化 -->
        <div th:fragment="scripts" th:remove="tag">
            <!-- Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        </div>
    </body>
</html>