<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>トップページ</title>
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="movemates-back-color">
					
				<picture>
					<source th:srcset="@{/images/movemates-top-sp.png}" media="(max-width: 430px)" class="w-100">
					<img th:src="@{/images/movemates-top-pc.png}" class="img-fluid">
				</picture>
				</div>
				
			</main>
		</div>
		
	</body>
</html>