<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>管理者用エクササイズ一覧</title>
	</head>
	<body>
		<div class="wrapper">
			
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5"><!-- レスポンシブ用のコンテナ追加箇所 -->
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							<h1 class="mb-4 text-center">管理者用エクササイズ一覧</h1>
							
							<div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>   
							
							<div class="d-flex justify-content-between align-items-end flex-wrap">
								<form method="get" th:action="@{/admin/exercises}" class="mb-3">
									<div class="input-group">
										<input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="キーワード">
										<button type="submit" class="btn movemates-btn">検索</button>
									</div>
								</form>
								
								<a th:href="@{/admin/exercises/register}" class="btn movemates-btn mb-3">登録</a>
							</div>
							
							<table class="table">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">名称</th>
										<th scope="col">目的</th>										
										<th scope="col">部位</th>
										<th scope="col">タイプ</th>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="exercise : ${exercises}">
										<td th:text="${exercise.getId()}"></td>
										<td th:text="${exercise.getName()}"></td>
										<td>
											<ul>
												<li th:each="purpose : ${exercise.purposes}">
													<span th:text="${purpose.getName()}"></span>
												</li>
											</ul>
										</td>
										<td>
											<ul>
												<li th:each="bodyPart : ${exercise.bodyParts}">
													<span th:text="${bodyPart.getName()}"></span>
												</li>
											</ul>
										</td>
										<td th:text="${exercise.getType()}"></td>
										<td><a th:href="@{/admin/exercises/__${exercise.getId()}__}">詳細</a></td>
										<td><a href="#" class="movemates-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteExerciseModal' + exercise.getId()}">削除</a></td>
										
										<!-- 削除用モーダル -->
										<div class="modal fade" th:id="${'deleteExerciseModal' + exercise.getId()}" tabindex="-1" th:aria-labelledby="${'deleteExerciseModalLabel' + exercise.getId()}">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" th:id="${'deleteExerciseModalLabel' + exercise.getId()}" th:text="${exercise.getName() + 'を削除してもよろしいですか？'}"></h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
													</div>
													<div class="modal-footer">
														<form method="post" th:action="@{/admin/exercises/__${exercise.getId()}__/delete}">
															<button type="submit" class="btn movemates-btn-danger">削除</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>