<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>アクティビティ詳細</title>
	</head>
	<body>
		<div class="wrapper">
			
			<div th:replace="~{fragment :: header-sp}"></div>
			<div th:replace="~{fragment :: sidebar-pc}"></div>
      
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8 col-md-8">
							<!-- パンくずリスト -->
							<nav class="breadcrumb-trail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	                             <ol class="breadcrumb mb-0">                        
	                                 <li class="breadcrumb-item"><a th:href="@{/exercises}">アクティビティ検索</a></li>
	                                 <li class="breadcrumb-item active" aria-current="page" th:text="${exercise.getName()}"></li>
	                             </ol>
	                        </nav>
	                        
	                        <div class="mm-highlight-box">
		                        <h1 class="mb-4 text-center" th:text="${exercise.getName()}"></h1>
		                        
								<!-- 画像の表示場所 -->
								<div class="mm-flexbox-center">
									<img th:if="${exercise.getImageName()}" th:src="@{/storage/exercise/__${exercise.getImageName()}__}" class="w-75" alt="トレーニング画像">
									<img th:unless="${exercise.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
								</div>
								
								<!-- ユーザーとexerciseで検索したfavoriteがあるかどうかで判断 -->
								<div class="favorite-container">
									<div th:if="${favorite == null or favorite.getStatus() eq 0}" class="favorite-box-unsaved">
	<!--										<img th:src="@{/images/bookmark.svg}">-->
			                                <a id="favoriteStatus" sec:authorize="isAuthenticated()" href="javascript:void(0);" th:onclick="|toggleFavorite('__${exercise.getId()}__')|" >保存</a>
			                            </div>
			                        <div th:if="${favorite != null and favorite.getStatus() eq 1}" class="favorite-box-saved">
			                           	<a id="favoriteStatus" sec:authorize="isAuthenticated()" href="javascript:void(0);" th:onclick="|toggleFavorite('__${exercise.getId()}__')|">保存済み</a>
			                        </div>
								</div>
								
								<div class="container mb-4">
		                            <div class="row pb-2 mb-3 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">タイプ</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <span th:text="${exercise.getType()}"></span>
		                                </div>
		                            </div>
		                            
		                            <div class="row pb-2 mb-2 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">動かす部位</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <span th:each="bodyPart, iterStat : ${exercise.bodyParts}">
		    									<span th:text="${bodyPart.getName()}"></span>
		    									<span th:if="${!iterStat.last}">、</span>
											</span>
		                                </div>
		                            </div>
		                            
		                            <div class="row pb-2 mb-2 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">運動の目的</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <span th:each="purpose, iterStat : ${exercise.purposes}">
		    									<span th:text="${purpose.getName()}"></span>
		    									<span th:if="${!iterStat.last}">、</span>
											</span>
		                                </div>
		                            </div>
		                            
		                            <div class="row pb-2 mb-2 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">やり方</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <p th:text="${exercise.getExplanation()}"></p>
		                                </div>
		                            </div>
		                            
		                            <div class="row pb-2 mb-2 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">目安回数</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <span th:text="${exercise.getSetNumber()}"></span>
		                                </div>
		                            </div>
		                            
		                            <div class="row pb-2 mb-2 border-bottom">
		                                <div class="col-4">
		                                    <span class="fw-bold">目安時間</span>          
		                                </div>                                                  
		                                <div class="col">
		                                    <span th:text="${exercise.getTimeRequired()}"></span><span>秒</span>
		                                </div>
		                            </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="~{fragment :: navbar-bottom-sp}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script th:src="@{/js/favorite.js}"></script>
	</body>
</html>