<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>マイメニュー</title>
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
				<!-- マイメニュー登録フォーム -->
				<form method="post" th:action="@{/mymenu/update}" th:object="${myMenuEditForm}">
					<div>
						<label for="name" class="form-label">メニュー名</label>
						<input type="text" th:field="*{name}" class="form-control">
					</div>
					<!-- マイメニュー表示枠 -->
					<div class="mymenu-box">
						<!-- exerciseがないとき -->
						<div th:unless="${not #lists.isEmpty(menuExerciseForms)}">
							<span>下のアクティビティを選択して追加してください。</span>
						</div>
						<!-- exerciseがあるとき -->
						<div th:if="${not #lists.isEmpty(menuExerciseForms)}">
						    <div class="d-flex flex-wrap">
						        <div th:each="menuExerciseForm : ${menuExerciseForms}">
						            <div class="card card-size h-100">
						                <img th:src="@{/storage/exercise/__${menuExerciseForm.getExercise().getImageName()}__}" class="card-img-top">
						                <div class="card-body">
						                    <p class="card-text" th:text="${menuExerciseForm.getExercise().getName()}"></p>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
						<button type="submit" class="btn movemates-btn">確定</button>
					</div>
				</form>
					<!-- お気に入りしたアクティビティ一覧 -->
					<div class="d-flex flex-wrap">
						<div th:each="exercise : ${exerciseList}">
							<div id="mymenu-candidate" class="card card-size h-100" onclick="toggleCheckbox(this)">
								<input type="checkbox" name="selectedExercises" th:value="${exercise.getId()}" style="display: none">
								<img th:src="@{/storage/exercise/__${exercise.getImageName()}__}" class="card-img-top">
								<div class="card-body">
									<p class="card-text" th:text="${exercise.getName()}"></p>
								</div>
							</div>
						</div>
					</div>
					<button onclick="addSelectedExercises($(this).data('mymenu-id'))" class="btn movemates-btn" th:data-mymenu-id="${myMenuEditForm.getId()}">追加</button>


			</main>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script>
    		function toggleCheckbox(card) {
        	var checkbox = card.querySelector('input[type="checkbox"]');
        	checkbox.checked = !checkbox.checked;
        	card.classList.toggle('checked', checkbox.checked);
    		}
		</script>
		<script th:src="@{/js/add-selected-exercises.js}"></script>
	</body>
</html>