<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>マイメニュー編集ページ</title>
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
				<div class="container">
					<div class="row justify-content-center">
	                    <div class="col-xl-10 col-lg-11 p-0">
							<!-- パンくずリスト -->
							<nav class="breadcrumb-trail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	                             <ol class="breadcrumb mb-0">                        
	                                 <li class="breadcrumb-item"><a th:href="@{/mymenu}">マイメニュー一覧</a></li>
	                                 <li class="breadcrumb-item active" aria-current="page"><span th:text="${myMenu.getName() + '編集'}"></span></li>
	                             </ol>
	                        </nav>
	                        
							<form method="post" th:action="@{/mymenu/update}" th:object="${myMenuEditForm}">
								<input type="hidden" th:field="*{myMenuId}">
								<!-- マイメニュー名の編集フォーム -->
								<div class="d-flex">
									<div class="mymenu-name-box">
										<input type="text" th:field="*{myMenuName}" class="mymenu-name-form">
									</div>
									<div th:if="${#fields.hasErrors('myMenuName')}" class="ms-2" th:errors="*{myMenuName}"></div>
								</div>
								<!-- マイメニューに登録されているエクササイズの表示枠 -->
								<div class="mymenu-box">
									<input type="hidden">
									<!-- exerciseがないとき -->
									<div th:unless="${not #lists.isEmpty(myMenu.myMenuExercises)}">
										<span>下のアクティビティを選択して追加してください。</span>
									</div>
									<!-- exerciseがあるとき -->
									<div th:if="${not #lists.isEmpty(myMenu.myMenuExercises)}" class="d-flex w-100 justify-content-between">
										<div class="mymenu-exercise-box">
											<div id="sortableArea" class="mm-card-box">
												<!-- exereciseを繰り返し表示 -->
												<div th:each="exerciseId : ${myMenu.myMenuExercises}">
													<div class="card mm-sm-card">
														<span class="batsu" onclick="removeExercise(this)"></span>
														<img th:src="@{/storage/exercise/__${myMenuExercise.exercise.getImageName()}__}" class="card-img-top">
														<div class="card-body">
															<p class="card-text" th:text="${myMenuExercise.exercise.getName()}"></p>
														</div>
														<div class="card-footer sort-handle js-sort-handle">
															<span class="double-line"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- ボタン -->
										<div class="mymenu-btn-box">
											<button type="submit" class="btn movemates-btn">確定</button>
										</div>
									</div>
								</div>
<!--							</form>-->
<!--							<form method="post" th:object="${AjaxAddExercisesForm}">-->
								<!-- お気に入りしたアクティビティ一覧 -->
								<div id="mymenu-candidate-box">
									<div class="d-flex mb-4">
										<button type="button" onclick="addSelectedExercises($(this).data('mymenu-id'))" class="btn movemates-btn" th:data-mymenu-id="${myMenu.getId()}">追加</button>
										<span class="align-self-center ms-3">下のアクティビティ一を選択して追加してください。</span>							
									</div>
									<div id="mymenuCandidateExerciseBox" class="row row-cols-lg-6 row-cols-md-4 row-cols-2">
										<div th:each="exercise : ${selectableExercises}" class="col card-repeat">
											<div class="card mymenu-candidate-card h-100" onclick="toggleCheckbox(this)">
												<input type="checkbox" name="selectedExercises" th:value="${exercise.getId()}" style="display: none">
												<img th:src="@{/storage/exercise/__${exercise.getImageName()}__}" class="card-img-top">
												<div class="card-body">
													<p class="card-text" th:text="${exercise.getName()}"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
                        </div>
					</div>
				</div>
			</main>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/toggle-checkbox.js}"></script>
<!--		<script th:src="@{/js/add-selected-exercises.js}"></script>-->
		<script type="text/javascript">
			$(function() {
  				$("#sortableArea").sortable({
  					placeholder: "sortable-placeholder", // プレースホルダークラスを追加
  					tolerance: "pointer",
					handle: ".js-sort-handle",
  					opacity: 0.8
            	});
			});
			
			function removeExercise(element) {
				//element.closest('.mm-sm-card').style.display = 'none';
				
				// クリックされたカードの親要素を非表示にする
    			var removedCard = element.closest('.mm-sm-card');
    			removedCard.style.display = 'none';

    			// 移動させるために削除されたカードを追加用のエクササイズ候補欄に追加する
    			var candidateBox = document.getElementById('mymenuCandidateExerciseBox');
    			candidateBox.appendChild(removedCard);
			}
		</script>
		<script th:inline="javascript">
			// サーバーから渡されたIDのリストをjavascriptのリストに変換
			const myMenuExerciseIdsArray = /*[[${myMenuExerciseIds}]]*/ [];
			const selectableExerciseIdsArray = /*[[${selectableExercises}]]*/ [];
			
			// JavaScriptの配列として操作できるようになった
			console.log(myMenuExerciseIdsArray);
			console.log(selectableExerciseIdsArray);
		</script>
	</body>
</html>