<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>マイメニュー</title>
	</head>
	<body>
		<div class="wrapper">
			<!-- ナビゲーションバーの部品化 -->
	        <div th:replace="~{fragment :: header}"></div>
			<main>
				<div class="container pt-4 pb-5"><!-- レスポンシブ用のコンテナ追加箇所 -->
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							<h1 class="mb-4 text-center">マイメニュー</h1>
							
							<!-- マイメニューをまだ登録していないときの表示 -->
							<div th:if="${myMenus.empty}">
								<a th:href="@{/mymenu/register}">登録</a>
							</div>
							
							<!-- マイメニューの一覧表示 -->
							<div th:each="mymenu : ${myMenus}">
								<span th:text="${mymenu.getName()}"></span>
								<!-- マイメニュー表示枠 -->
								<div class="mymenu-box">
									<!-- エクササイズが登録されていないとき（初期状態） -->
									<div th:unless="${not #lists.isEmpty(mymenu.exercises)}">
										<div class="w-25">
					                    	<a th:href="@{/mymenu/__${mymenu.getId()}__/edit}"><img th:src="@{/images/plus-icon.svg}" class="w-100"></a>
										</div>
					                </div>
					                <!-- エクササイズがあるとき -->
									<div th:if="${not #lists.isEmpty(mymenu.exercises)}">
										<!-- カード -->
										<div>
											<div th:each="exercise : ${mymenu.exercises}">
												<div class="card card-size">
													<img th:src="@{/storage/exercise/__${exercise.getImageName()}__}}" class="card-img-top">
													<div class="card-body">
														<p class="card-text" th:text="${exercise.getName()}"></p>
													</div>
												</div>
											</div>
										</div>
										<!-- ボタン -->
										<div class="d-flex flex-column align-items-center justify-content-center">
											<a th:href="@{/mymenu/__${mymenu.getId()}__/start}" class="btn movemates-btn m-2">スタート</a>
											<a th:href="@{/mymenu/__${mymenu.getId()}__/edit}" class="btn movemates-btn m-2">編集</a>
										</div>
									</div>
								</div>
										
							</div>
						</div>
					<div>
				</div>
			</main>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>