<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>マイメニュー</title>
		
		<script src="https://cdn.jsdelivr.net/npm/vue@3.4.21"></script>
		<script src="https://unpkg.com/vue-router@4"></script>
	</head>
	<body>
		<div class="wrapper">
			<!-- ナビゲーションバーの部品化 -->
	        <div th:replace="~{fragment :: header}"></div>
			<main>
				<div class="container mymenu-container"><!-- レスポンシブ用のコンテナ追加箇所 -->
					<div class="row justify-content-center">
						<div class="col-xl-10">
							<div th:if="${successMessage}" class="alert alert-info">
								<span th:text="${successMessage}"></span>
							</div>
							
							<!-- 成功メッセージを表示するコンポーネント -->
						    <div id="app">
						        <div v-if="successMessage" class="alert alert-info">{{ successMessage }}</div>
						    </div>
							
							<!-- マイメニューの一覧表示 -->
							<div th:each="mymenu : ${myMenus}">
								<div class="mymenu-name-box">
									<span th:text="${mymenu.getName()}"></span>
								</div>
								<!-- 1つのマイメニュー -->
								<div class="mymenu-box">
									<!-- エクササイズが登録されていないときは登録ボタンを表示 -->
									<div th:unless="${not #lists.isEmpty(mymenu.myMenuExercises)}">
										<div class="w-25">
							                <a th:href="@{/mymenu/__${mymenu.getId()}__/edit}"><img th:src="@{/images/plus-icon.svg}" class="w-100"></a>
										</div>
							        </div>
							        <!-- エクササイズがあるとき -->
									<div th:if="${not #lists.isEmpty(mymenu.myMenuExercises)}" class="d-flex w-100">
											<div class="mymenu-exercise-box">  <!-- カードを入れるボックス -->
												<!-- カード -->
												<div class="mm-card-box">
													<div th:each="myMenuExercise : ${mymenu.myMenuExercises}">
														<div class="card mm-sm-card">
															<img th:src="@{/storage/exercise/__${myMenuExercise.exercise.getImageName()}__}" class="card-img-top">
															<div class="card-body">
																<p class="card-text" th:text="${myMenuExercise.exercise.getName()}"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- ボタン -->
											<div class="mymenu-btn-box">
												<a th:href="@{/mymenu/__${mymenu.getId()}__/start}" class="btn movemates-btn m-2">スタート</a>
												<a th:href="@{/mymenu/__${mymenu.getId()}__/edit}" class="btn movemates-btn m-2">編集</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div>
				</div>
			</main>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script>
			// Vue Router を使用するためのルートコンポーネント
			const Home = { template: '<div>Home</div>' };
			
			// ルート定義
		    const routes = [
		        { path: '/mymenu', component: Home }
		    ];
		
		    // Vue Router インスタンスを作成
		    const router = VueRouter.createRouter({
		        history: VueRouter.createWebHistory(),
		        routes
		    });
			
			const app = {
				data() {
					return {
						successMessage: '' // 成功メッセージを保持するデータ
					};
				},
				mounted() {
                // URL パラメーターから成功メッセージを取得
                const params = new URLSearchParams(window.location.search);
                this.successMessage = params.get('successMessage');
            	}
            	
			}
			const vueApp = Vue.createApp(app);
		    vueApp.use(router);
		    vueApp.mount('#app');
		</script>
	</body>
</html>