<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>運動開始</title>
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="~{fragment :: header-sp}"></div>
			<div th:replace="~{fragment :: sidebar-pc}"></div>
			<main>
				<div class="container h-100"><!-- レスポンシブ用のコンテナ追加箇所 -->
				
					<div class="row justify-content-center h-100">
						<div class="col-11 h-100">
							<nav class="breadcrumb-trail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	                            <ol class="breadcrumb mb-0">                        
	                                <li class="breadcrumb-item"><a th:href="@{/mymenu}">マイメニュー一覧</a></li>
	                                <li class="breadcrumb-item active" aria-current="page"><span th:text="${myMenu.getName() + '開始'}"></span></li>
	                            </ol>
	                        </nav>
							<div class="row h-100 justify-content-between">
								<div class="col-sm-6 start-flexbox">
									<div id="carouselExample" class="carousel slide">
										<div class="carousel-inner">
											<div th:if="${not #lists.isEmpty(myMenu.myMenuExercises)}">
												<div th:each="myMenuExercise, iterStat : ${myMenu.myMenuExercises}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active'">
													<div class="card">
														<div class="start-card-top">
															<img th:src="@{/storage/exercise/__${myMenuExercise.exercise.getImageName()}__}" class="start-card-top-img">
														</div>
														<div class="card-body mm-card-body-start">
															<h5 class="card-title" th:text="${myMenuExercise.exercise.getName()}"></h5>
															<p class="card-text" th:text="${myMenuExercise.exercise.getExplanation()}"></p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								</div>
								<div class="col-xl-5 col-sm-6 start-flexbox">
									<form method="post" th:action="@{/mymenu/record}" th:object="${exerciseLogForm}" class="stopwatch-container">
										<input type="hidden" th:field="*{user}">
					  					<input type="hidden" th:field="*{myMenu.id}">
					  					<input type="hidden" th:field="*{exerciseDuration}">
			  							<div id="stopwatch">00:00</div>
										<div class="stopwatch-btn-box">
						  					<div class="reset-btn-circle">
												<span id="resetButton">リセット</span>
											</div>
					  						<div class="exercise-start-stop-btn">
					  							<img id="startStopButton" th:src="@{/images/start.svg}"></img>
											</div>
											<button type="submit" id="endButton" class="btn movemates-btn exercise-end-btn">終了</button>
									    </div>
									</form>
								</div>
							</div>
						</div>
					<div>
				</div>
			</main>
			<div th:replace="~{fragment :: navbar-bottom-sp}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script th:src="@{/js/timer.js}"></script>
	</body>
</html>