<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>メール送信</title>   
    </head>
    <body>
        <div class="wrapper-admin">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header-pc}"></div>
			<div th:replace="~{fragment :: header-sp}"></div>
            
            <main class="main-admin">
                <div class="container pt-4 pb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-11">  
                            
                            <div th:if="${successMessage}" class="alert alert-info">
                                <span th:text="${successMessage}"></span>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
  </body>
</html>
