/* ===========================================
 * 共通ここから
 * ======================================== */

html {
  font-size: 14px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #4D4399;
}

h1 {
  font-size: 1.5rem;
}

:root {
  --opacity-color: rgba(255, 255, 255, 0.7);
  --main-color: #E85299;
  
  
}

.exercise-h5 {
  position: relative;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: 3px solid #4D4399;
  border-radius: 10px;
/*  background: #f9f9f9;	*/
}

.exercise-h5::before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #4D4399 transparent transparent transparent;
}

.exercise-h5::after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}

p {
  white-space: pre-wrap;  /* 改行を保存 */
}

a {
  color: #4D4399;
  text-decoration: none !important;
}

a:hover {
  color: #7A6FCC;
}

.movemates-btn {
  color: white;
  background-color: #4D4399 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.1s;
  min-width: 5rem;
  white-space: nowrap;
}

.movemates-btn:hover {
  opacity: 0.8;
}

.movemates-link-danger {
  color: #f2594b;
}

.movemates-link-danger:hover {
  color: #a63c3c;
}

.movemates-btn-danger {
  color: white;
  background-color: #f2594b !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.1s;
}

.movemates-btn-danger:hover {
  opacity: 0.8;   
}

video {
  width: 100%; /* 動画をレスポンシブ化 */
  max-width: 400px; /* 動画の最大幅 */
}

.wrapper {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-color: #64C0AB;
  display: flex;
}

/* mainここから */
/* ======================================== */
main {
  margin-left: 88px;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto; /* 縦方向のオーバーフローをスクロール可能にする */
}

.main-bottom {
  margin-bottom: 60px;
}
/* mainここまで */
/* ======================================== */


/* navここから */
/* ======================================== */
.movemates-navbar {
  background-color: #E85299;
  min-height: 60px;
}

.movemates-navbar a {
  color: white;
}

.movemates-logo {
  max-height: 60px;
  min-height: 30px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.mm-head-div2 {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #E85299;
  box-shadow: 4px rgba(0, 0, 0, 0.075);
}

.mm-head-div3 {
  height: 100%;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}

.mm-demo-div4 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-demo-h1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  max-width: 32px;
}

.mm-demo-a {
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  min-height: 52px;
  max-width: 52px;
}

h1 a img {
  max-width: 56px;
}

nav a img {
  max-width: 32px;
}
.user-info {
  align-self: flex-end;
}

.icon-img {
  width: 40px; /* アイコンの幅 */
  height: 40px; /* アイコンの高さ */
  object-fit: contain; /* 画像をアスペクト比を保持しつつコンテナーに収まるように調整 */
}

.nav-icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
/* navここまで */
/* ======================================== */


/* footerここから */
/* ======================================== */
footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #E85299;
}
/* footerここまで */
/* ======================================== */


/* パンくずリストここから */
/* ======================================== */
.breadcrumb-trail {
  margin: 1% 1% 1% 0; 

}
/* パンくずリストここまで */
/* ======================================== */

/* ===========================================
 * 共通ここまで
 * ======================================== */
 
 
 
/* ===========================================
 * トップページここから
 * ======================================== */

#catchcopy {
  font-weight: bold;
  position: absolute; /* 要素を絶対配置にします */
  top: 50%; /* 上端を親要素の中央に配置します */
  left: 50%; /* 左端を親要素の中央に配置します */
  transform: translate(-50%, -50%); /* 中央揃えのために要素を移動します */
  text-align: center; /* テキストを中央揃えにします */
  color: #4D4399; /* テキストの色を設定します */
}
/* ===========================================
 * トップページここまで
 * ======================================== */



/* ===========================================
 * マイページここから
 * ======================================== */
 
/* カレンダーここから */
/* ======================================== */
#my-calendar table {
  border-collapse: collapse;
  width: 100%;
  color: #4D4399;
}

#my-calendar th, #my-calendar td {
  border: 1px solid #64C0AB;
  text-align: center;
  padding: 8px;
}

#my-calendar th {
  background-color: #ffffff;
  opacity: 0.85;
  font-size: 10px;
}

#my-calendar td {
  background-color: #ffffff;
  opacity: 0.7;
  height: 80px; /* セルの高さを2倍に変更 */
  vertical-align: top; /* 日付を上半分に配置 */
}

.calendar-arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.calendar-circle {
  display: inline-block;
  border-radius: 50%; /* 円形にする */
  width: 20px;
  height: 20px;
  line-height: 20px; /* 円の中央に日付を配置 */
  text-align: center;
  position: relative; /* 相対位置指定 */
}

.today .calendar-circle {
  background-color: #4D4399; /* 今日の日付に対応するセルの円の背景色を変更 */
}

.today .calendar-circle span {
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端の位置をセルの中央に合わせる */
  left: 50%; /* 左端の位置をセルの中央に合わせる */
  transform: translate(-50%, -50%); /* セルの中央に移動 */
  color: white; /* 今日の日付に対応するセルの日付の文字色を変更 */
}

/*運動した日にアイコンを表示*/
.exercise-day {
  width: 24px;
  height: 24px;
  content: url('../images/exercise-log.svg');
}
/* カレンダーここまで */
/* ======================================== */


/* 継続週数ここから */
/* ======================================== */
#consecutive-weeks {
  width: 400px;
  height: 120px;
  margin-top: 40px;
  display: flex;
}

#week-box-left {
  height: 100%;
  width: 120px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85); /* 白色の背景色に85%の不透明度を適用 */
  background-color: white;
  opacity: 0.85;
}

#week-box-right {
  background-color: #ffffff;
  opacity: 0.7;
  flex-grow: 1;
}

#currentMonthYear {
  color: #4D4399;
  text-align: center;
}
/* 継続週数ここまで */
/* ======================================== */

/* ===========================================
 * マイページここまで
 * ======================================== */



/* ===========================================
 * エクササイズ一覧ここから
 * ======================================== */
.exercise-tag {
/*  position: relative;*/
/*  height: 64px;*/
/*  margin-left: 30px;*/
  padding: 1rem 1rem 1rem 3rem;
/*  color: #fff;*/
  background-color: #ffffff;
  border: solid;
  border-color: #4D4399;
  border-radius: 2em 0 0 2em;
}

.exercise-tag::before {
  content: '○';
  font-weight: bold;
  margin-right: .5em;
  color: #4D4399;
/*  position: absolute;*/
/*  top: 0;*/
/*  left: -30px;*/
/*  content: '';*/
/*  border-width: 32px 30px 32px 0;*/
/*  border-style: solid;*/
/*  border-color: transparent #fa4141 transparent transparent;*/
}

/* ===========================================
 * エクササイズ一覧ここまで
 * ======================================== */
 
 

.mm-card {
  background-color: white;
  opacity: 0.85;
  color: #4D4399;
}

/* ===========================================
 * マイメニュー関連ここから
 * ======================================== */

.mymenu-container {
  padding: 4% 0;
}

.mymenu-name {
  color: #ffffff;
  background-color: #4D4399;
  padding: 1% 4%;
  width: 20%;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%, 70% 0);
  white-space: nowrap;
}

.mymenu-box {
  display: flex;
  margin-bottom: 4%;
  padding: 4% 0 4% 4%;
  background-color: rgba(255, 255, 255, 0.7);
}

.mymenu-exercise-box {
  display: flex;
  width: 80%;
}

#mymenu-candidate-box {
  display: flex;
  flex-direction: column;
  background-color: #7A6FCC;
  padding: 4%;
}

.mymenu-candidate-card {
  position: relative;
  height: 100%;
  background-color: white;
  cursor: pointer;
}

.card-size {
  position: relative;
  width: 10rem;
  height: 100%;
  background-color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.card-repeat:last-child {
  margin-right: 0;
}

.btn-box {
  width: 20%;
  min-width: 6rem;
}

.checked {
  background-color: lightblue; /* チェックされている時の背景色 */
}

.mm-card-box {
  display: flex;
  overflow-x: scroll;
}

.batsu {
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 10;
}
 
.batsu::before, .batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  width: 2px; /* 棒の幅（太さ） */
  height: 16px; /* 棒の高さ */
  background-color: #4D4399 !important;
}
 
.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.sort-handle {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}

.sort-handle:before,
.sort-handle:after {
	
}

.double-line {
  position: relative;
  width: 100%; /* 要素の幅 */
  height: 16px; /* 線の太さ */
/*  background-color: black;  線の色 */
}

.double-line::before,
.double-line::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50%; /* 要素の幅の半分 */
  height: 2px; /* 線の太さ */
  background-color: black; /* 線の色 */
}

.menu-form {
  color: #ffffff;
  background-color: #4D4399;
}

/* 運動開始ページここから */
/* ======================================== */
span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%234D4399' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%234D4399' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.start-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  background-color: var(--opacity-color);
/*  width: 100%;*/
  flex-grow: 1;
  align-self: center;
  border-radius: 0.25rem;
}

#stopwatch {
  font-size: 8rem;
  text-align: center;
}

#resetButton-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	border: solid  var(--main-color);
	width: 4rem;
	align-self: flex-end;
	margin-right: 4rem;
/*	height: 10%;*/
/*	padding-top: 15%;*/
	
/*	background-color: #4D4399;*/
}

#resetButton-circle::before {
  display: block;
  content: '';
  padding-top: 100%;
}

#resetButton {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--main-color);
  
}

.start-stop-button-box {
  width: 50%;
  align-self: center;
  margin-top: -4%;
  margin-bottom: 4%;
}

/* 運動開始ページここまで */
/* ======================================== */

/* ===========================================
 * マイメニュー関連ここまで
 * ======================================== */